---
import { getCollection } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import { SITE_DESCRIPTION, SITE_TITLE, BASE_URL } from '../consts'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import PostCard from '../components/PostCard.astro'

const postCollection = await getCollection('blog')
const posts = postCollection.sort((a, b) => (
	b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)); // Ordena os posts pela data, os mais recentes primeiro.
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main>
			<p>Olá, pessoa! Espero que esteja bem.</p>

			<section class="post-card-list">
				{posts.map((post) => (
					<PostCard 
						href={`${BASE_URL}/blog/${post.id}`}
						title={post.data.title}
						description={post.data.description}
						cover={post.data.cover}
					/>
				))}
			</section>
		</main>

		<Footer />
	</body>
</html>

<style>
	header {
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		padding: 4px;
	} 
	h2 {
		color: var(--red-1);
		font-size: 1.3rem;
		font-weight: normal;
		margin: 0;
		letter-spacing: 0.08rem;
		padding: 16px 0;
	}

	.post-card-list {
		width: min(100%, 1000px);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}
</style>
